<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<nav class="navbar navbar-expand-sm navbar-light bg-dark">
    <p style="color: white; margin-right: 950px;">Welcome gopi!</p>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/userlogin" style="color: white;">
                    <h4><i class="fa fa-sign-out">Logout </i></h4>
                </a>
            </li>

        </ul>

    </div>
</nav>
<div class="sidebar">
    <a class="active" roterLink="/userhome">Home</a>
    <a routerLink="/mytransaction">My Transactions</a>
    <a href="#contact">Send/Receive</a>
    <a href="#about">Transfer Funds</a>
    <a routerLink="/atmsimulator">ATM Simulator</a>
    <a href="#about">Contact Us</a>
    <a href="#about">Submit Griveance</a>
</div>
<div class="content">
    <h2 style="text-align: center ">Transfer Funds</h2>
    <hr><div style="margin:50px;">
    
        <form>
            <div class="form-row">
                <div class="form-group col-sm-4">
                    <label for=""><b>Enter Amount(in INR):</b></label>
                    <input type="text" class="form-control" id="">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-4">
                    <label for=""><b>To:</b></label>
                    <input type="text" class="form-control" id="">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-4">
                    <label for=""><b>AccountNo(in INR):</b></label>
                    <input type="text" class="form-control" id="">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-4">
                    <label for=""><b>Password:</b></label>
                    <input type="password" class="form-control" id="">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-4">

                    <button type="button" class="btn btn-success">GoBack</button>
                </div>
                <div class="form-group col-sm-4">

                    <button type="button" class="btn btn-primary">SUBMIT</button>
                </div>
                <div class="form-group col-sm-4">

                    <button type="button" class="btn btn-warning">RESET</button>

                </div>
            </div>
        </form>
    </div>
</div>