<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<nav class="navbar navbar-expand-sm navbar-light bg-dark">
    <h2 style="color: white; margin-right: 950px;">Welcome, Admin</h2>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/adminlogin" style="color: white;"><h4><i class="fa fa-sign-out">Logout </i></h4></a>
            </li>
            
        </ul>
        
    </div>
</nav>
<!-- <div *ngIf="adminnav.visible" class="sidebar"> -->
    <nav *ngIf="adminnav.avisible" class="sidebar">
        <a  routerLink='/adminhome'>Home</a>
        <a routerLink='/mycustomers'>My Customers</a>
        <a routerLink='/addcustomers'>Add Customer</a>
        <a routerLink='/editandupdate'>Manage Customers</a>
        <a href="#about">Customer Griveances</a>
        <a href="#about">Website Management</a>
        <a routerLink='/postnews'>Post News</a>
      </nav>
  <div class="content">
    <h2 style="text-align: center ">Post News</h2>
   <hr >
   <!-- <div style="margin:50px;"> -->
    <form>
            <div class="form-group col-sm-4">
                <label for=""><b>News Headline:</b></label>
                <input type="text" class="form-control" id="">
            </div>
            
        <div class="form-group col-sm-4">
            <label for="exampleFormControlTextarea1"><b>Details:</b></label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
          
          <div class="col-sm-10 mb-2">
            <button type="submit" class="btn btn-primary" (click)="submit()" >Submit</button>
            <button type="reset" class="btn btn-danger" style="margin-left: 20px;">Reset</button>
        </div>

    </form>
<!-- </div> -->
  </div>