<nav class="navbar navbar-expand-sm navbar-light bg-dark">
    <p style="color: white; margin-right: 950px;">Welcome gopi!</p>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/userlogin" style="color: white;">
                    <h4><i class="fa fa-sign-out">Logout </i></h4>
                </a>
            </li>

        </ul>

    </div>
</nav>
<div class="sidebar">
    <a  routerLink="">Home</a>
    <a routerLink="/mytransaction">My Transactions</a>
    <a routerLink="/addbeneficiary">Send/Receive</a>
    <a routerLink="/transferfunds">Transfer Funds</a>
    <a routerLink="/atmsimulator">ATM Simulator</a>
    <a routerLink="">Contact Us</a>
    <a routerLink="">Submit Griveance</a>
</div>

<div style="margin-left: 300px;margin-top: 20px;">
<h1>Transaction Successfull!</h1>
<div class="form-group col-sm-4">

    <button type="button" class="btn btn-success" style="margin-top: 20px;">GoBack</button>
</div>
</div>
