<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<nav class="navbar navbar-expand-sm navbar-light bg-dark">
    <p style="color: white; margin-right: 950px;">Welcome gopi!</p>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/userlogin" style="color: white;">
                    <h4><i class="fa fa-sign-out">Logout </i></h4>
                </a>
            </li>

        </ul>

    </div>
</nav>
<div class="sidebar">
    <a class="active" roterLink="/userhome">Home</a>
    <a routerLink="/mytransaction">My Transactions</a>
    <a href="#contact">Send/Receive</a>
    <a href="#about">Transfer Funds</a>
    <a routerLink="/atmsimulator">ATM Simulator</a>
    <a href="#about">Contact Us</a>
    <a href="#about">Submit Griveance</a>
</div>
<div style="margin-left: 300px;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
      
          <li class="nav-item">
            <a class="nav-link" href="#" >Filter</a>
          </li>
         
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             SortBy:Trans.ID
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              
              <a class="dropdown-item" href="#">Trans.Name</a>
              <a class="dropdown-item" href="#">Trans.Number</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  <h1 style="text-align: center;">Filter:None</h1>
  <table class="table table-striped">
    <thead>
      <tr style="background-color: aquamarine;">
        <th scope="col">Trans.ID</th>
        <th scope="col">Date & Time (IST)</th>
        <th scope="col">Remarks</th>
        <th scope="col">Debit</th>
        <th scope="col">Credit</th>
        <th scope="col">Balance</th>
  
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>@mdo</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
        <td>@fat</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
        <td>@twitter</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
  </div>